<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <nav th:replace="fragments/fragment :: navbar"></nav>
        <title>Home</title>
        <!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
            <script th:src="@{/js/bootstrap.min.js}"></script> -->
        <object th:include="fragments/fragment :: title" th:remove="tag"></object>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>
    <body>
        <main role="main" class="px-4 mt-4">
        <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">APAP</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContect">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </nav> -->

        <div class="container-fluid">
            <h2>Welcome!</h2>
            <div class="row">
                <div class="col-mid-6">
                    <div class="card">
                        <div class="card-header">Tambah Pilot</div>
                        <div class="card-body">
                            <p class="card-text">Fitur untuk menambah pilot</p>
                            <a class="btn btn-primary" th:href="@{/pilot/add}">Tambah</a>
                        </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-mid-6">
                <div class="card">
                    <div class="card-header">Cari Pilot</div>
                    <form th:action="@{/pilot/view}" method="GET">
                        <div class="card-body">
                            <label for="licenseNumber">License Number: </label>
                            <input type="text" name="licenseNumber" class="form-control" />
                            <p></p>
                            <button type="submit" class="btn btn-primary">Cari</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </main>
    </body>
</html>