<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <nav th:replace="fragments/fragment :: navbar"></nav>
        <title>Edit Flight Data</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>

    <body>
        <main role="main" class="px-4 mt-4">
        <h3>Edit Flight Data</h3>
        <form th:action="@{'/flight/update/' + ${flight.id}}" th:object="${flights}" method="POST">
            ID: 
            <br><input disabled type="text" name="name" th:value="${flight.id}" /><br>
            Flight Number: 
            <br><input type="text" name="flightNumber" th:value="${flight.flightNumber}" /><br>
            Origin:
            <br><input type="text" name="origin" th:value="${flight.origin}" /><br>
            Destination: 
            <br><input type="text" name="destination" th:value="${flight.destination}" /><br>
            Time: 
            <br><input type="date" name="time" th:value="${flight.time}" /><br><br>
            <button type="submit">Submit</button>
        </form>
        </main>
    </body>

</html>