<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <object th:include="fragments/fragment :: title" th:remove="tag"></object>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <title>View All Flight</title>
</head>

<body>
    <main role="main" class="px-4 mt-4">
        <h3>Flight List</h3>
        <table class="table table-striped table-dark" style="width:950px">
            <tr class="text-center">
                <th>Flight Number</th>
                <th>Nama Pilot</th>
                <th>License Number Pilot</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
            <th:block th:each="flight : ${flight}">
                <tr align="center">
                    <td th:text="${flight.flightNumber}"></td>
                    <td th:text="${flight.pilot.name}"></td>
                    <td th:text="${flight.pilot.licenseNumber}"></td>
                    <td th:text="${flight.origin}"></td>
                    <td th:text="${flight.destination}"></td>
                    <td th:text="${flight.time}"></td>
                    <td><a th:href="@{/flight/view/} + ${flight.flightNumber}" class="btn btn-primary btn-sm">Detail</a></td>
                </tr>
            </th:block>
        </table><br>
        <a th:href="@{/}">Kembali</a>
        </main>
    </body>
</html>